body
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main
{
	flex: 1 0 auto;
	padding: 20px;
}

button
{
	width: 100%;
}

img
{
	margin: 0px 5px 0px 5px;
}

.centered
{
	display: flex; 
	justify-content: center;
}

.false
{
	color:red;
}
