		<!-- footer -->
		<footer class="page-footer">
			<div class="centered">
				<a href="http://validator.w3.org/check?uri=referer" title="Valid HTML 5" />
					<img src="./assets/img/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" />
				</a>
				<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://" title="Valid CSS 3" />
					<img src="./assets/img/valid-css10.png" alt="Valid CSS 3.0" />
				</a>				
				<a href="https://materializecss.com/" title="materialize" />
					<img src="./assets/img/materialize.png" alt="materialize 1.0.0" />
				</a>
			</div>
		</footer>