		<!-- barre de navigation -->
		<nav>
			<div class="nav-wrapper">
			  <ul id="nav-mobile" class="left">
				<!-- BEGIN logout -->
				<li><a href="index.php?item=99"><i class="large material-icons">power_settings_new</i></a></li>
				<!-- ELSE logout -->
				<li><a href="index.php?item=1"><i class="large material-icons">account_circle</i></a></li>
				<!-- END logout -->
				<!-- BEGIN admin -->
				<li><a href="show_user.php"><i class="large material-icons">group_add</i></a></li>
				<!-- END admin -->
				<!-- BEGIN user -->
				<li><a href="quizz_select.php"><i class="large material-icons">play_circle_outline</i></a></li>
				<li><a href="results.php"><i class="large material-icons">playlist_add_check</i></a></li>
				<!-- END user -->
			  </ul>
			</div>
		</nav>